body {
    background: #1e1e2f;
    font-family: Arial, sans-serif;
}


.cadastro {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: #2a2a40;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* TÍTULO */
.cadastro h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

/* INPUTS */
.cadastro input {
    width: 90%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #3a3a5a;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}


.cadastro input:focus {
    background: #4a4a6a;
    box-shadow: 0 0 5px #00c3ff;
}


.cadastro button {
    width: 60%;
    padding: 12px;
    margin-top: 10px;
    background: linear-gradient(45deg, #00c3ff, #007bff);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}


.cadastro button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #009ecf, #005fcc);
}


.cadastro p {
    color: #ccc;
    font-size: 14px;
    margin-top: 15px;
}


.cadastro a {
    color: #00c3ff;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}


.cadastro a:hover {
    text-decoration: underline;
    color: #ffffff;
}